/src/PowerKeeper.Api/obj
/src/PowerKeeper.Api/bin
/src/PowerKeeper.Application/obj
/src/PowerKeeper.Application/bin
/src/PowerKeeper.Domain/obj
/src/PowerKeeper.Domain/bin
/src/PowerKeeper.Domain.Core/obj
/src/PowerKeeper.Domain.Core/bin
/src/PowerKeeper.Infra.Aop/obj
/src/PowerKeeper.Infra.Aop/bin
/src/PowerKeeper.Infra.Bus/obj
/src/PowerKeeper.Infra.Bus/bin
/src/PowerKeeper.Infra.Config/obj
/src/PowerKeeper.Infra.Config/bin
/src/PowerKeeper.Infra.Data/obj
/src/PowerKeeper.Infra.Data/bin
/src/PowerKeeper.Infra.Enum/obj
/src/PowerKeeper.Infra.Enum/bin
/src/PowerKeeper.Infra.Identity/obj
/src/PowerKeeper.Infra.Identity/bin
/src/PowerKeeper.Infra.IoC/bin
/src/PowerKeeper.Infra.IoC/obj
/src/PowerKeeper.Infra.Log/obj
/src/PowerKeeper.Infra.Log/bin
/src/PowerKeeper.Infra.Mapper/obj
/src/PowerKeeper.Infra.Mapper/bin
/src/PowerKeeper.Infra.Tool/obj
/src/PowerKeeper.Infra.Tool/bin
/src/PowerKeeper.Tests/obj
/src/PowerKeeper.Tests/bin
/src/PowerKeeper.UI/obj
/src/PowerKeeper.UI/bin
